
        <ion-toolbar color="primary">
                <ion-title class="toolwords" >Event Feed</ion-title>
      </ion-toolbar>
 
<ion-content class="body" >
        <div >
                <h1 class="title" >
                        Sponsored*
                </h1>       
                      
          <br/>
          
       <ion-item>
       <ion-slides startAutoplay [options]="slideOpts" autoplay="3000" loop="true" speed="1" pager="true" >
            <ion-slide >
                    <ion-card class="eventCard1" href="https://www.sprint.com">
                         
                           
                     </ion-card>
             </ion-slide>
             <ion-slide >
                    <ion-card class="eventCard2" href="https://www.herbalife.com">
                         
                           
                     </ion-card>
             </ion-slide>
             <ion-slide >
                    <ion-card class="eventCard3" href="https://www.wish.com">
                         
                           
                     </ion-card>
             </ion-slide>
        </ion-slides>
      </ion-item>
          
            <br/>  
            <br/>
             <h1 class="subtitle">
             Event
             </h1>
            <br/>
       
          <ion-list lines="none" *ngFor="let myevents of events">
            <ion-item  class="eventCard" class="item" *ngIf="hasAEvent" >
               <ion-card>
                   <img class="ecardimg" src="{{myevents.photoURL}}">
                    <ion-card-header>
                      <ion-card-subtitle><ion-icon color="primary" name="pin"></ion-icon> {{myevents.address}} </ion-card-subtitle>
                      <ion-card-title>{{myevents.name}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="alarm"></ion-icon>  Opening Hours: {{myevents.openingHours}} <br/>
                        <ion-icon name="alarm"></ion-icon>  Closing Hours: {{myevents.closingHours}} <br/>
                        <ion-icon name="cash"></ion-icon>   Price: R{{myevents.price}} <br/>
                    </ion-card-content>
                    <ion-button style="margin-left: 6%;margin-bottom: 4%;width:30%" routerLink="/tabs/book-event" (click)="booking(myevents)" shape="round" fill="outline" >Book Now</ion-button>
                </ion-card>
           </ion-item>
         </ion-list>

          <div class="noClubs" *ngIf="!hasAEvent" >
                <br/>
                <br/>
            <p text-center color="medium" class="sadname">  No Events Available ! </p>
             <br/>
            
          </div>
          <!-- <body> -->
        
        <!-- </body> -->
      </div>
      </ion-content>
