<ion-content>

    <body>
        <div class="content">

            <ion-grid>
                <ion-row color="primary" class="ion-justify-content-center">

                    <ion-col class="ion-align-self-center" size-md="10" size-lg="8" size-xs="10">



                        <img src="/assets/images/the  LOGO icon.png" alt="Avatar" class="imgC">
                        <br>
                        <!-- <h1>
                            Push yourself
                        </h1>
                        <h1>
                            because no one
                        </h1>
                        <h1>
                            else is going to
                        </h1>
                        <h1>
                            do it for you.
                        </h1> -->


                        <ion-button color="secondary" shape="round" class="gett" (click)="goToLogin()">Get Started</ion-button>

                    </ion-col>

                </ion-row>
            </ion-grid>
        </div>

    </body>

</ion-content>