<ion-content>

  <div
    class="container"
  >
  <div class="back">
    <ion-button (click)="onClick()" size="small" color="light">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="image">
    <img *ngIf="club.photoURL" src="{{club.photoURL}}" alt="">
    <img *ngIf="!club.photoURL" src="../../../assets/images/giphys.gif" alt="">
  </div>

    <div class="profile">
      <div class="imageUpdate">
      </div>
      <div *ngIf="!club.name" class="skeleltonName">
        <ion-skeleton-text
          animated
          style="width: 100%; height: 31px"
        ></ion-skeleton-text>
      </div>
      <div class="displayName">
        <h1 *ngIf="club.name">{{club.name}}</h1>
        <div class="editDisplayName">
        </div>
      </div>
      <div class="profileData">
        <div class="sk">
          <div *ngIf="!club.name">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </div>
          <div *ngIf="!club.name">
            <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
          </div>
          <div *ngIf="!club.name">
            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
          </div>
        </div>
        <ion-item *ngIf="club.address" lines="none">
          <ion-label>{{club.address}}</ion-label>
        </ion-item>
        <ion-item *ngIf="club.openingHours" lines="none">
          <ion-label>Open {{club.openingHours | date:'shortTime'}}</ion-label>
        </ion-item>
        <ion-item *ngIf="club.closingHours" lines="none">
          <ion-label>Closed {{club.closingHours | date:'shortTime'}}</ion-label>
        </ion-item>
        <ion-button (click)="willFunction()" expand="full" shape="round">
          Events
        </ion-button>
      </div>
    </div>
    <div class="eventsCont">
      <ion-card *ngFor="let item of tempEvents">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
