<ion-content>
    <div class="back">
        <ion-button color="light" fill="clear" size="small" (click)="backClicked()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
    </div>
 <div class="container">
    <div class="title">
        <h2>Confirmation</h2>
      </div>
      <ion-card class="card1">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h5>Open Hours</h5>
            </ion-col>
            <ion-col
              style="display: flex; justify-content: center"
            >
              <ion-icon class="wak" color="dark" name="walk"></ion-icon>
            </ion-col>
            <ion-col>
              <h5 class="ends">Close Hours</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6 class="endo">{{event.openingHours}}</h6>
            </ion-col>
            <ion-col>
              <h6 class="end">{{event.distance}} Km</h6>
            </ion-col>
            <ion-col>
              <h6 class="endi">{{event.closingHours}}</h6>
            </ion-col>
          </ion-row>
        </ion-grid>
        <hr style="width: 100%; height: 1px; background: rgba(0, 0, 0, 0.329); margin: 10px 0px;" />
        <ion-item lines="none" class="mon">
          <ion-label>R{{event.price}}.00/pp</ion-label>
          <ion-icon slot="start" name="cash"></ion-icon>
        </ion-item>
      </ion-card>
      <ion-card class="card2">
        <h5 style="text-align: center">How many tickets do you want?</h5>
          <div
            style="
              width: 100%;
              text-align: center;
              display: flex;
              justify-content: space-evenly;
              align-items: center;
            "
          >
            <ion-fab-button
              size="small"
              (click)="sub(1)"
              center
              color="light"
              size="small"
            >
              <ion-icon color="primary" name="remove"></ion-icon>
            </ion-fab-button>
            <p style="zoom: 1.5">{{tickets}}</p>
            <ion-fab-button
              size="small"
              (click)="add(1)"
              color="light"
              size="small"
            >
              <ion-icon color="primary" name="add"></ion-icon>
            </ion-fab-button>
          </div>
        <h1 style="text-align: right; padding: 0px 20px; color: black; font-size: 33px;">
          Total: R {{event.price*this.tickets}}.00
        </h1>
        <ion-button
          style="margin-left: 4%; margin-right: 4%; margin-bottom: 4%"
          shape="round"
          expand="block"
          (click)="BookEvent()"
          ><b>Book now</b></ion-button
        >
      </ion-card>
 </div>
</ion-content>
