<ion-content>
<div class="container">
  <div class="title">
    <div class="customToolbar">
      <div class="back">
        <ion-fab-button size="small" color="light" (click)="back()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </div>
      <p>Wednesday, 29 May</p>
    </div>
    <p>Deposit Account</p>
  </div>
<ion-slides style="height: 247.8px;" mode="ios" pager="ios" scrollbar="ios">
<ion-slide *ngIf="!accounts.length">
  <div class="customCard" >
    <div class="recepient">
      <div class="label">
        <p>Recepient</p>
      </div>
      <ion-skeleton-text animated style="width: 60%; height: 20px;"></ion-skeleton-text>
    </div>
    <div class="recepientDetails">
      <div class="bank">
        <div class="label">
          <p>Bank</p>
        </div>
        <ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text>
      </div>
      <div class="account">
        <div class="label">
          <p>Account Number</p>
        </div>
        <ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text>
      </div>
      <div class="branch">
        <div class="label">
          <p>Branch Code</p>
        </div>
        <ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text>
      </div>
    </div>
  </div>
</ion-slide>
  <ion-slide *ngFor="let a of accounts">
    <div class="customCard">
      <div class="recepient">
        <div class="label">
          <p>Recepient</p>
        </div>
        <span>{{a.recipient}}</span>
      </div>
      <div class="recepientDetails">
        <div class="bank">
          <div class="label">
            <p>Bank</p>
          </div>
          <span>{{a.bank}}</span>
        </div>
        <div class="account">
          <div class="label">
            <p>Account Number</p>
          </div>
          <span>{{a.account}}</span>
        </div>
        <div class="branch">
          <div class="label">
            <p>Branch Code</p>
          </div>
          <span>{{a.branch}}</span>
        </div>
      </div>
    </div>
  </ion-slide>
</ion-slides>
  <div class="referenceInfo">
    <div class="referenceTitle">
      <p>Payment Reference</p>
    </div>
    <div class="reference">
      <ion-skeleton-text *ngIf="!theName" animated style="width: 100%; height: 67px;"></ion-skeleton-text>
      <p *ngIf="theName">{{theName}}</p>
    </div>
    <p>Sign in to your bank, create a recipient and make a
      deposit using this information</p>
<div class="button">
  <ion-button (click)="updateDeposit()" expand="block" fill="outline" color="light" shape="round">
    I've Made the Deposit
  </ion-button>
</div>
      <div class="thankYou">
        <p>Thank you for Participating.</p>
      </div>
  </div>
</div>
</ion-content>
