.topHalf {
    width: 100%;
    height: 40vh;
    background: linear-gradient(#11c2d4, #11c0d4),
      url("../../../assets/images/svg/pattern.svg");
    background-size: cover;
    border-radius: 0px 0px 30px 30px;
    overflow: hidden;
    padding: 0px 10px 10px 10px;
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 72.8px;
      .backButton {
        margin-right: 10px;
      }
      .titleHeader {
        flex-basis: 100%;
        background: white;
        border-radius: 8px;
        height: 44.8px;
        display: flex;
        align-items: center;
        padding: 0px 20px;
        p {
          margin: 0px;
          font-weight: bolder;
        }
      }
    }
    .clubImage {
      height: calc(100% - 72.8px);
      width: 100%;
      margin: auto;
      overflow: hidden;
      position: relative;
      border-radius: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .buttonWrapper {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        backdrop-filter: blur(30px);
        overflow: hidden;
        border-radius: 20px;
        height: 50px;
        .realInput {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 10;
        }
        .dummyButton {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
        #fileInput {
          opacity: 0 !important;
          width: 100%;
          height: 50px;
        }
      }
    }
  }
  .bottomHalf {
    width: 100%;
    height: 60vh;
    overflow: hidden auto;
    padding: 20px;
    #item {
      border: 1px solid #11c2d4;
      padding: 0px;
      border-radius: 25px;
      margin-top: 10px;
    }
    .inputLabel {
      margin-left: 10px;
    }
    .error {
      background: rgba(255, 0, 0, 0.068);
      color: red;
      padding: 10px;
      border-radius: 8px;
      margin-top: 5px;
    }
    .time {
        display: flex;
        justify-content: space-between;
        .openTime {
          flex-basis: 48%;
        }
        .closedTime {
          flex-basis: 48%;
        }
    }
  }
  