$bgcolor: #11C2D4;
$textcolor: #11C2D4;
$fontsize: 18px;

/* Use the variables */

body {
    // background: $bgcolor;
    // color: $textcolor;
    font-size: $fontsize;
    $mywidth: 100%;
    width: $mywidth;
    $myheight: 100%;
    height: $myheight;
    text-align: center;
    overflow-y: auto;
    .avatar {
        position: absolute;
        z-index: 5;
        top: 10%;
        left: 80%;
    }
    #bg {
        // background-color: #11C2D4;
        width: 106% !important;
        margin: 0px -50% 0px -3% !important;
        padding: 10px 0px 0px 0px !important;
        // $mywidth: 100%;
        // width: $mywidth;
        $myheight: 100%;
        height: $myheight;
        $myposition: absolute;
        position: $myposition;
        $z-index: -1;
        z-index: $z-index;
        // left: -10px;
        // margin-left: 10%;
        // right: 10px;
        top: -20px;
    }
    #bd {
        // -webkit-text-fill-color: aliceblue;
        $mywidth: 100%;
        width: $mywidth;
        $myheight: 100%;
        height: $myheight;
        $myborder-radius: 10px;
        border-radius: $myborder-radius;
        $mybackground: rgba(0, 0, 0, 0.6);
        background: $mybackground;
    }
    h3 {
        $fontsize: 25px;
       font-size: $fontsize;
    //    $font-family: "Times New Roman", Times, serif;
    //    font-family: $font-family;
        $textcolor: #11C2D4;
        color: $textcolor;
        text-align: start;
    }
    h2 {
        $fontsize: 25px;
        font-size: $fontsize;
      //  $font-family: "Comic Sans MS";
       // font-family: $font-family;
        $textcolor: #11C2D4;
        color: $textcolor;
        // $padding: 0px 280px 50px 0px;
        // padding: $padding;
    }
    p {
        $textcolor: #11C2D4;
        color: $textcolor;
        $font-size: inherit;
        font-size: $font-size;
    }
    #item {
        $textcolor: #11C2D4;
        color: $textcolor;
        margin-right: 10px;
    }
    #cen {
        $margin: 5px 20px 5px 300px;
        margin: $margin;
    }
    #lol {
        $textcolor: #11C2D4;
        color: $textcolor;
    }
    #button {
        $padding: 10px;
        padding: $padding;
        $border-radius: 50px 20px;
        border-radius: $border-radius;
    }
    #but {
        ion-fab-button {
            float: right;
        }
        // $margin-left: 65%;
        // margin-left: $margin-left;
    }
    .div2 {
        $background-color: #ffff;
        background-color: $background-color;
        $mywidth: 100%;
        width: $mywidth;
        $margin-right: 20%;
        margin-right: $margin-right;
        $myheight: 500px;
        height: $myheight;
        $margin-bottom: 0%;
        margin-bottom: $margin-bottom;
        // $order-top-right-radius: 20%;
        // border-top-left-radius: 20%;
        padding-left: 15px;
        // padding: 10px 0px 0px 0px !important;
    }
    #img {
        $myheight: 60%;
        height: $myheight;
    }
    .div1 {
        $background-color: #11C2D4;
        background-color: $background-color;
        $myheight: 100%;
        height: $myheight;
        border-bottom-right-radius: 20%;
        border-bottom-left-radius: 20%;
        padding: 10px 0px 0px 0px !important;
    }
    #out {
        text-align: start;
    }
    #for {
        $margin-left: 62%;
        margin-left: $margin-left;
    }
    #heading {
        $fontsize: 25px;
        font-size: $fontsize;
        //$font-family: "Comic Sans MS";
      //  font-family: $font-family;
        $textcolor: #ffff;
        color: $textcolor;
    }
    a {
        color: #11C2D4;
        text-decoration: none;
    }
    #h {
        width: 35%;
        text-align: center;
    }
    img {
        border-radius: 50%;
        text-align: center;
    }
     :root {
        .profile {
            height: 100%;
            width: 100%;
            -webkit-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 142px -37px rgba(0, 0, 0, 0.75);
        }
    }
    .profile-image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .input {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .profile-image {
        img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 4px solid #fff;
            //  -webkit-box-shadow: 0px 0px 142px -37px rgb(32, 114, 125);
            //  -moz-box-shadow: 0px 0px 142px -37px rgb(32, 114, 125);
            box-shadow: 0px 0px 142px -37px rgb(32, 114, 125);
            background-color: white;
        }
    }
    .profile-image {
        position: absolute;
        z-index: 5;
        top: 10%;
        right: 67%;
    }
    .image-upload>input {
        display: none;
        margin-top: 20px;
    }
    .input {
        font-size: 25px;
    }
    ion-spinner {
        display: block;
        margin: auto;
        top: -60px;
        width: 30px;
        height: 30px;
    }
    // ion-fab {}
    .document {
        font-size: 20px;
    }
    .camera {
        font-size: 18px;
    }
    .fab {
        top: 76px !important;
    }
}