<ion-content>
  <div class="topHalf">
    <div class="title">
      <div class="backButton">
        <ion-button (click)="back()" color="light">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </div>
      <div class="titleHeader">
        <p>New Event</p>
      </div>
    </div>
    <div class="clubImage">
      <img *ngIf="photoURL" src="{{photoURL}}" alt="" />
      <img *ngIf="!photoURL" src="../../../assets/images/giphys.gif" alt="" />
      <div class="buttonWrapper">
        <div class="dummyButton">
          <ion-button
            *ngIf="uploading"
            expand="block"
            fill="clear"
            color="light"
            shape="round"
          >
            <ion-spinner name="bubbles"></ion-spinner>
            {{progress.toFixed(2)}}%
          </ion-button>
          <ion-button
            *ngIf="!uploading"
            expand="block"
            color="light"
            fill="clear"
            shape="round"
          >
            <ion-icon slot="start" name="image"></ion-icon>
            Select Image
          </ion-button>
        </div>
        <div class="realInput">
          <input
            *ngIf="!uploading"
            id="fileInput"
            class="input"
            type="file"
            (change)="uploadEventPic($event)"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="bottomHalf">
    <form [formGroup]="eventForm" (ngSubmit)="addEvent(eventForm.value)">
      <!-- CLUB NAME -->
      <ion-label class="inputLabel" position="floating">Event Name</ion-label>
      <ion-item id="item" lines="none" color="transparent">
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div *ngFor="let v of vMessages.name">
        <div
          class="error"
          *ngIf="eventForm.get('name').hasError(v.type) && (eventForm.get('name').dirty || eventForm.get('name').touched)"
        >
          {{v.message}}
        </div>
      </div>
       <br>
      <!-- ADDRESS -->
      <ion-label class="inputLabel" position="floating">Address</ion-label>
      <ion-item id="item" lines="none" color="transparent">
        <ion-input
          type="text"
          formControlName="address"
          (ionInput)="search($event)"
          [value]="selectedAddress"
          clearInput
        ></ion-input>
      </ion-item>
      <div
        style="position: absolute; max-width: 90%; min-width: 90%; z-index: 999"
        class="search"
      >
        <ion-list
          lines="none"
          *ngIf="addresses.length > 0"
          color="light"
          style="
            background: var(
              --ion-item-background,
              var(--ion-background-color, black)
            );
            border: solid 1px rgb(226, 226, 226);
            border-radius: 8px;
          "
        >
          <ion-item
            style="border-bottom: solid 1px rgb(209, 209, 209)"
            *ngFor="let address of addresses ; let i=index"
            (click)="onSelect(address, i)"
            color="light"
          >
            <ion-icon name="pin"></ion-icon>
            <p class="searchv">{{address}}</p>
          </ion-item>
        </ion-list>
      </div> <br>
      <div *ngFor="let v of vMessages.address">
        <div
          class="error"
          *ngIf="eventForm.get('address').hasError(v.type) && (eventForm.get('address').dirty || eventForm.get('address').touched)"
        >
          {{v.message}}
        </div>
      </div>
      <!-- DISTANCE -->
      <ion-label class="inputLabel" position="floating"
        >Distance (Km)</ion-label
      >
      <ion-item id="item" lines="none" color="transparent">
        <ion-input type="tel" maxlength="2" formControlName="distance"></ion-input>
      </ion-item>
      <div *ngFor="let v of vMessages.distance">
        <div
          class="error"
          *ngIf="eventForm.get('distance').hasError(v.type) && (eventForm.get('distance').dirty || eventForm.get('distance').touched)"
        >
          {{v.message}}
        </div>
      </div>
<br>
      <div class="time">
        <!-- Open -->
        <div class="openTime">
          <ion-label class="inputLabel"
            >Opening Time</ion-label
          >

          <ion-item lines="none" id="item" color="transparent">
            <ion-datetime
              formControlName="openingHours"
              displayFormat="HH:mm a"
            ></ion-datetime>
          </ion-item>
          <div *ngFor="let v of vMessages.openingHours">
            <div
              class="error"
              *ngIf="eventForm.get('openingHours').hasError(v.type) && (eventForm.get('openingHours').dirty || eventForm.get('openingHours').touched)"
            >
              {{v.message}}
            </div>
          </div>
        </div>
<br>
        <!-- Closed -->
        <div class="closedTime">
          <ion-label class="inputLabel"
            >Closing Time</ion-label
          >
          <ion-item lines="none" id="item" color="transparent">
            <ion-datetime
              formControlName="closingHours"
              displayFormat="HH:mm a"
            ></ion-datetime>
          </ion-item>
          <div *ngFor="let v of vMessages.closingHours">
            <div
              class="error"
              *ngIf="eventForm.get('closingHours').hasError(v.type) && (eventForm.get('closingHours').dirty || eventForm.get('closingHours').touched)"
            >
              {{v.message}}
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- Date -->
      <ion-label class="inputLabel" position="floating"
        >Date</ion-label
      >
      <ion-item lines="none" id="item" color="transparent">
        <ion-datetime
        min="2020" max="2023"
          displayFormat="MMM, DD YYYY"
          formControlName="date"
        ></ion-datetime>
      </ion-item>
      <div *ngFor="let v of vMessages.date">
        <div
          class="error"
          *ngIf="eventForm.get('date').hasError(v.type) && (eventForm.get('date').dirty || eventForm.get('date').touched)"
        >
          {{v.message}}
        </div>
      </div>
      <!-- Price -->
      <br>
      <ion-label class="inputLabel" position="floating">Price(R)</ion-label>
      <ion-item lines="none" id="item" color="transparent">
        <ion-input
          type="tel"
          maxlength="4"
          formControlName="price"
        ></ion-input>
      </ion-item>
      <div *ngFor="let v of vMessages.price">
        <div
          class="error"
          *ngIf="eventForm.get('price').hasError(v.type) && (eventForm.get('price').dirty || eventForm.get('price').touched)"
        >
          {{v.message}}
        </div>
      </div>
      <ion-button
        style="margin-right: 4%; margin-left: 4%"
        shape="round"
        expand="full"
        color="primary"
        [disabled]="!eventForm.valid"
        type="submit"
        >Add</ion-button
      >
    </form>
  </div>
</ion-content>
