<ion-content>
  <div
    style="background-size: cover; background-position: center"
    class="container"
    [ngStyle]="{'background-image': 'url('+ loggedInUser.photoURL +')'}"
  >
    <div class="profile">
      <div class="imageUpdate">
        <div class="imageCont">
          <div class="dummybutton">
            <ion-fab-button>
              <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
          </div>
          <div class="input">
            <input
              id="file-input2"
              class="input"
              type="file"
              (change)="uploadProfilePic($event)"
            />
          </div>
        </div>
      </div>
      <div *ngIf="!loggedInUser.Timestamp" class="skeleltonName">
        <ion-skeleton-text
          animated
          style="width: 100%; height: 31px"
        ></ion-skeleton-text>
      </div>
      <div class="displayName">
        <h1 *ngIf="loggedInUser.displayName">{{loggedInUser.displayName}}</h1>
        <div class="editDisplayName">
          <ion-button
            (click)="nameUpdate(loggedInUser)"
            size="small"
            fill="clear"
            shape="round"
          >
            <ion-icon
              color="primary"
              size="small"
              slot="icon-only"
              name="create"
            ></ion-icon>
          </ion-button>
        </div>
      </div>
      <div class="profileData">
        <div class="sk">
          <div *ngIf="!loggedInUser.Timestamp">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </div>
          <div *ngIf="!loggedInUser.Timestamp">
            <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
          </div>
          <div *ngIf="!loggedInUser.Timestamp">
            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
          </div>
        </div>
        <ion-item *ngIf="loggedInUser.Timestamp" lines="none">
          <ion-label>{{loggedInUser.Email}}</ion-label>
          <ion-button (click)="emailUpdate()" slot="end" fill="clear">
            <ion-icon
              color="primary"
              size="small"
              slot="icon-only"
              name="create"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item *ngIf="loggedInUser.Timestamp" lines="none">
          <ion-label>{{loggedInUser.Age}}</ion-label>
          <ion-button (click)="AgeUpdate(loggedInUser)" slot="end" fill="clear">
            <ion-icon
              color="primary"
              size="small"
              slot="icon-only"
              name="create"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item *ngIf="loggedInUser.Timestamp" lines="none">
          <ion-label>{{loggedInUser.address}}</ion-label>
          <ion-button
            (click)="AddressUpdate(loggedInUser)"
            slot="end"
            fill="clear"
          >
            <ion-icon
              color="primary"
              size="small"
              slot="icon-only"
              name="create"
            ></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>
