<ion-content>
  <form [formGroup]="signupForm">
    <body>
      <div id="bg">
        <ion-grid style="padding: 0px !important">
          <ion-row style="padding: 0px !important" justify-content-center>
            <ion-col  style="padding: 0px !important" align-self-center size-md="12" size-lg="11" size-xs="12">
              <div class="div1">
                <br /><br /><br />
                <img src="assets/images/logo.png" alt="Avatar" class="imgC" />

                <br /><br /><br />
                <div class="div2">
                  <br />

                  <div>
                    <div text-center>
                      <h3>Tell us about yourself</h3>
                    </div>
                    <br />
                    <ion-label color="primary" position="floating"
                      >Email</ion-label
                    >
                    <ion-item id="item" lines="none">
                      <ion-input
                        type="email"
                        formControlName="email"
                      ></ion-input>
                    </ion-item>
                    <div
                      class="error"
                      *ngIf="signupForm.get('email').hasError('required') && signupForm.get('email').touched"
                    >
                      Please input your email
                    </div>
                    <div
                      class="error"
                      *ngIf="signupForm.get('email').hasError('pattern') && signupForm.get('email').touched"
                    >
                      Email address invalid
                    </div>
                    <br />
                    <ion-label color="primary" position="floating"
                      >Password</ion-label
                    >
                    <ion-item id="item" lines="none">
                      <ion-input
                        type="{{passwordToggle ? 'text' : 'password'}}"
                        formControlName="password"
                      ></ion-input>
                      <div class="passFab">
                        <ion-button
                          shape="round"
                          fill="clear"
                          (click)="showPasswordToggle()"
                        >
                          <ion-icon
                            slot="icon-only"
                            name="{{passwordToggle ? 'eye-off' : 'eye'}}"
                          ></ion-icon>
                        </ion-button>
                      </div>
                    </ion-item>
                    <div
                      class="error"
                      *ngIf="signupForm.get('password').hasError('required') && signupForm.get('password').touched"
                    >
                      Please input your password
                    </div>

                    <div
                      class="error"
                      *ngIf="signupForm.get('password').hasError('minlength') && signupForm.get('password').touched"
                    >
                      Minimum 6 characters
                    </div>

                    <div
                      class="error"
                      *ngIf="signupForm.get('password').hasError('maxlength') && signupForm.get('password').touched"
                    >
                      Maximum 12 characters
                    </div>
                    <!-- address search -->
                    <br />
                    <hr>
                    <ion-label color="primary" position="floating"
                      >Address</ion-label
                    >

                    <ion-item id="item" lines="none">
                      <ion-input
                        type="text"
                        formControlName="address"
                        (ionInput)="search($event)"
                        [value]="selectedAddress"
                        clearInput
                      ></ion-input>
                    </ion-item>
                    <div
                      style="
                        position: absolute;
                        max-width: 90%;
                        min-width: 90%;
                        z-index: 999;
                      "
                      class="search"
                    >
                      <ion-list
                        lines="none"
                        *ngIf="addresses.length > 0"
                        color="lightb"
                        style="
                          background: var(
                            --ion-item-background,
                            var(--ion-background-color, black)
                          );
                        "
                      >
                        <ion-item
                          *ngFor="let address of addresses ; let i=index"
                          (click)="onSelect(address, i)"
                          color="dark"
                        >
                          <ion-icon name="pin"></ion-icon>
                          <p class="searchv">{{address}}</p>
                        </ion-item>
                      </ion-list>
                    </div>
                    <div
                      class="error"
                      *ngIf="signupForm.get('address').hasError('required') && signupForm.get('address').touched"
                    >
                      Please input your address
                    </div>
                    <!-- address search -->
                    <!-- <ion-item id="item" color="transparent">
                                        <ion-label position="floating">Password again</ion-label>
                                        <ion-input type="password" formControlName="cpassword"></ion-input>
                                    </ion-item>
                                    <div class="error" *ngIf="signupForm.get('cpassword').hasError('required') && signupForm.get('cpassword').touched">
                                        please confirm you passowrd
                                    </div>

                                    <div class="error" *ngIf="signupForm.get('cpassword').hasError('minlength') && signupForm.get('cpassword').touched">
                                        Minimum 6 characters
                                    </div>

                                    <div class="error" *ngIf="signupForm.get('cpassword').hasError('maxlength') && signupForm.get('cpassword').touched">
                                        Maximum 12 characters
                                    </div>

                                    <div class="error" *ngIf="signupForm.get('cpassword').hasError('mustMatch') ">Passwords must match</div> -->
                    <br />
                    <ion-label
                      class="customLabel"
                      color="primary"
                      position="stacked"
                      >Gender</ion-label
                    >
                    <ion-item id="item" lines="none">
                      <ion-select
                        style="margin-left: 0% !important"
                        formControlName="gender"
                      >
                        <ion-select-option value="Female"
                          >Female</ion-select-option
                        >
                        <ion-select-option value="Male">Male</ion-select-option>
                        <ion-select-option value="Trans gender"
                          >Transgender</ion-select-option
                        >
                      </ion-select>
                    </ion-item>
                    <div
                      class="error"
                      *ngIf="signupForm.get('gender').hasError('required') && signupForm.get('gender').touched"
                    >
                      Please please select gender
                    </div>
                    <!-- <ion-item id="item" color="transparent">
                                            <ion-label position="floating">Age</ion-label>
                                            <ion-select formControlName="age">
                                                <ion-select-option value="10-21">10-21</ion-select-option>
                                                <ion-select-option value="21-26">21-26</ion-select-option>
                                                <ion-select-option value="26-31">31-38</ion-select-option>
                                                <ion-select-option value="38-45">38-45</ion-select-option>
                                            </ion-select>
                                        </ion-item> -->
                    <br />
                    <ion-label color="primary" position="floating"
                      >Age</ion-label
                    >
                    <ion-item id="item" lines="none">
                      <!-- The tel attribute automatically changes the keyboard to numbers on mobile, it's not important that on the pc you can type text -->
                      <ion-input
                        type="tel"
                        maxlength="2"
                        formControlName="age"
                      ></ion-input>
                    </ion-item>
                    <div
                      class="error"
                      *ngIf="signupForm.get('age').hasError('required') && signupForm.get('age').touched"
                    >
                      Please input your age
                    </div>
                  </div>

                  <!-- <ion-item lines="none">
                                    <div id="h">
                                        <h2>Signup</h2>
                                    </div>
                                   
                                    <div id="but">
                                        <ion-fab-button [disabled]="!signupForm.valid" (click)="tryRegister()" color="primary" size="small">
                                            <ion-icon name="arrow-forward"></ion-icon>
                                        </ion-fab-button>

                                    </div>
                                  </ion-item> -->
                  <ion-col>
                
                    <ion-button
                      style="margin-right: 4%; margin-left: 4%"
                      shape="round"
                      expand="full"
                      color="primary"
                      [disabled]="!signupForm.valid"
                      (click)="tryRegister()"
                      >Signup</ion-button
                    >
                  </ion-col>
                  <br />

                  <a routerLink="login"></a>
                  <ion-button (click)="toSignin()" expand="block" fill="clear" shape="round">
                    Already have account? Sign In
                </ion-button>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </body>
  </form>
</ion-content>
