/* Define standard variables and values for website */

// $bgcolor: #a2b9bc;
// $bgcolor: linear-gradient(180deg, rgba(200, 116, 152, 0.969) 0%, rgba(196, 135, 161, 0.969) 39.74%, rgb(99, 57, 75) 100%);
// $bgcolor: linear-gradient(#34e89e, #0f3443);
$bgcolor: #11C2D4;
$textcolor: #11C2D4;
$fontsize: 14px;

/* Use the variables */

body {
    // background: $bgcolor;
    // color: $textcolor;
    font-size: $fontsize;
    $mywidth: 100%;
    width: $mywidth;
    $myheight: 100%;
    height: $myheight;
   
    overflow-y: auto;
  //  $font-family: "Microsoft Sans Serif";
  //  font-family: $font-family;
    // 
    form {
       
    }
    #bg {
        overflow-y: auto;
        // background-color: #11C2D4;
        // $mywidth: 100%;
        // width: $mywidth;
        width: 106% !important;
        margin: 0px -50% 0px -3% !important;
        $myheight: 100%;
        height: $myheight;
        $myposition: absolute;
        position: $myposition;
        $z-index: -1;
        z-index: $z-index;
        top: 0px;
    }
    // #bd {
    //     -webkit-text-fill-color: aliceblue;
    //     $mywidth: 100%;
    //     width: $mywidth;
    //     $myheight: 100%;
    //     height: $myheight;
    //     $myborder-radius: 10px;
    //     border-radius: $myborder-radius;
    //     $mybackground: rgba(0, 0, 0, 0.6);
    //     background: $mybackground;
    // }
    h3 {
        $fontsize: 25px;
        font-size: $fontsize;
      //  $font-family: "Comic Sans MS";
      //  font-family: $font-family;
        $textcolor: #11C2D4;
        color: $textcolor;
        text-align: center;
    }
    h2 {
        $fontsize: 25px;
        font-size: $fontsize;
      //  $font-family: "Comic Sans MS";
       // font-family: $font-family;
        $textcolor: #11C2D4;
        color: $textcolor;
    }
    p {
        $textcolor: #11C2D4;
        color: $textcolor;
        $font-size: inherit;
        font-size: $font-size;
    }
    #item {
    
            border: 1px solid #11C2D4;
          padding: 0px;
          border-radius: 25px;
        margin-top: 10px;
    }
    #cen {
        $margin: 5px 20px 5px 300px;
        margin: $margin;
    }
    #lol {
        $textcolor: #11C2D4;
        color: $textcolor;
    }
    #button {
        $padding: 10px;
        padding: $padding;
        $border-radius: 50px 20px;
        border-radius: $border-radius;
    }
    #but {
        ion-fab-button {
            margin-left: 0%;
        }
        $margin-left: 60%;
        margin-left: $margin-left;
    }
    .div2 {
        background-color: #fff;
        width: 100vw;
        height: auto;
        border-top-left-radius: 63px;
        margin: auto;
        padding: 0px 20px;
    }
    #img {
        $myheight: 60%;
        height: $myheight;
    }
    .div1 {
        background: linear-gradient(#11C2D4,#11c0d400), url('../../../assets/images/svg/pattern.svg');
        $myheight: 100%;
        height: $myheight;
        background-size: cover;
        background-position: 66%;
    }
    .imgC {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
    }
    ion-select{
      margin-left: 80%;
    }
    a {
        color: #11C2D4;
        text-decoration: none;
        margin-left: 15%;
    }
    .error {
        background: rgba(255, 0, 0, 0.068);
        color: red;
        padding: 10px;
        border-radius: 8px;
        margin-top: 5px;
    }
    ion-label {
        padding: 10px !important;
    }
    .passFab{
        position: absolute;
        right: -6px;
        z-index: 30;
    }

}
