<ion-content>



    <body>

        <div id="bg">
            <ion-grid>
                <ion-row class="ion-justify-content-center">

                    <ion-col class="ion-align-self-center" size-md="11" size-lg="11" size-xs="12">

                        <div class="div1">

                            <h2 id="heading">Schedule Your Event!</h2>
                            <br><br><br>
                            <div class="div2">




                                <div padding>
                                    <br><br><br>

                                    <ion-item id="item" color="transparent">
                                        <ion-label position="floating">Event name:</ion-label>
                                        <ion-input type="text"></ion-input>
                                    </ion-item>

                                    <ion-item id="item" color="transparent">
                                        <ion-label position="floating">Address:</ion-label>
                                        <ion-input type="text"></ion-input>
                                    </ion-item>


                                    <ion-grid>
                                        <ion-row>
                                            <ion-col>
                                                <ion-item id="item" color="transparent">
                                                    <ion-label position="floating">Open Time:</ion-label>
                                                    <ion-datetime></ion-datetime>
                                                </ion-item>

                                            </ion-col>
                                            <ion-col>
                                                <ion-item id="item" color="transparent">
                                                    <ion-label position="floating">Close Time:</ion-label>
                                                    <ion-datetime></ion-datetime>
                                                </ion-item>

                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>

                                    <br><br>

                                    <ion-grid>
                                        <ion-row>
                                            <ion-col>
                                                <ion-button shape="round" color="light">
                                                    DELETE
                                                </ion-button>
                                            </ion-col>
                                            <ion-col>
                                                <ion-button shape="round" color="light">
                                                    UPDATE
                                                </ion-button>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                    <br>



                                </div>
                            </div>
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>



        </div>

    </body>

</ion-content>