<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
       
       
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        
      </ion-tab-button>
  
      <ion-tab-button tab="events">
        <ion-icon name="calendar"></ion-icon>
     
      </ion-tab-button>
  
      <ion-tab-button tab="add">
        <ion-icon name="flag"></ion-icon>
     
      </ion-tab-button>
      <ion-tab-button href="login">
        <!-- <ion-icon name="flag"></ion-icon> -->
        <ion-icon name="log-out"></ion-icon>
     
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
