<ion-content>
  <ion-input type="text" (ionInput)="search($event)"  [value]="selectedAddress" clearInput></ion-input>
  <div style="position: absolute; max-width: 90%; min-width: 90%; z-index: 999; " class="search">
    <ion-list lines="none" *ngIf="addresses.length > 0" color="lightb" style="background: var(--ion-item-background,var(--ion-background-color, black)); ">
        <ion-item *ngFor="let address of addresses ; let i=index" (click)="onSelect(address, i)" color="dark">
            <ion-icon name="pin"></ion-icon>
            <p class="searchv">{{ address}}</p>
        </ion-item>
    </ion-list>
</div>
</ion-content>
