.form {
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    padding: 10px 18px;
    // background: rgba(179, 179, 179, 0.623);
    -webkit-text-fill-color: aliceblue;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}

$bgcolor: #11C2D4;
$textcolor: #11C2D4;
$fontsize: 14px;

/* Use the variables */

body {
    // background: $bgcolor;
    // color: $textcolor;
    font-size: $fontsize;
    $mywidth: 100%;
    width: $mywidth;
    $myheight: 100%;
    height: $myheight;

    overflow-y: auto;
    #bg {
        // background-color: #11C2D4;
        width: 106% !important;
        margin: 0px -50% 0px -3% !important;
        padding: 10px 0px 0px 0px !important;
        // $mywidth: 100%;
        // width: $mywidth;
        $myheight: 100%;
        height: $myheight;
        $myposition: absolute;
        position: $myposition;
        $z-index: -1;
        z-index: $z-index;
        // left: -10px;
        // margin-left: 10%;
        // right: 10px;
        top: -20px;
    }
    #bd {
        // -webkit-text-fill-color: aliceblue;
        $mywidth: 100%;
        width: $mywidth;
        $myheight: 100%;
        height: $myheight;
        $myborder-radius: 10px;
        border-radius: $myborder-radius;
        $mybackground: rgba(0, 0, 0, 0.6);
        background: $mybackground;
    }
    h3 {
        $fontsize: 25px;
        font-size: $fontsize;
     //   $font-family: "Times New Roman", Times, serif;
     //   font-family: $font-family;
        $textcolor: #11C2D4;
        color: $textcolor;
        text-align: center;
        
    }
    h2 {
        $fontsize: 25px;
        font-size: $fontsize;
        //$font-family: "Times New Roman", Times, serif;
      //  font-family: $font-family;
        $textcolor: #11C2D4;
        color: $textcolor;
        // $padding: 0px 280px 50px 0px;
        // padding: $padding;
    }
    p {
        $textcolor: #11C2D4;
        color: $textcolor;
        $font-size: inherit;
        font-size: $font-size;
    }
    #item {
      
            border: 1px solid #11C2D4;
          padding: 0px;
          border-radius: 25px;
          margin-top: 10px;
    }
    #cen {
        $margin: 5px 20px 5px 300px;
        margin: $margin;
    }
    #lol {
        $textcolor: #11C2D4;
        color: $textcolor;
    }
    #button {
        $padding: 10px;
        padding: $padding;
        $border-radius: 50px 20px;
        border-radius: $border-radius;
    }
    #but {
        $margin-left: 60%;
        margin-left: $margin-left;
    }
    .div2 {
        $background-color: #fff;
        background-color: $background-color;
        $mywidth: 100%;
        width: $mywidth;
        $margin-left: 0%;
        margin-left: $margin-left;
        $myheight: 500px;
        height: $myheight;
        $margin-bottom: 0%;
        margin-bottom: $margin-bottom;
        $order-top-right-radius: 20%;
        border-top-left-radius: 20%;
        padding-left: 0px;
    }
    #img {
        $myheight: 60%;
        height: $myheight;
    }
    .div1 {
        $background-color: #11C2D4;
        background-color: $background-color;
        $myheight: 100%;
        height: $myheight;
    }
    #out {
        text-align: start;
    }
    #for {
        $margin-left: 62%;
        margin-left: $margin-left;
    }
    a {
        color: #11C2D4;
        text-decoration: none;
        // margin-left: 10%;
    }
    .centered {
        text-align: center;
    }
    .forgotWrapper {
        width: 100%;
        text-align: center;
        .forgett {
            color: black;
            // margin-left: 30%;
            // margin-right: auto;
          
        }
    }

    .imgC {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
    }
    .error {
        background: rgba(255, 0, 0, 0.068);
        color: red;
        padding: 10px;
        border-radius: 8px;
        margin-top: 5px;
    }
    ion-label {
        padding: 10px !important;
    }
    .passFab{
        position: absolute;
        right: -6px;
        z-index: 30;
    }
    // .form {
    //     width: 100%;
    //     height: 100%;
    //     color: white;
    //     position: absolute;
    //     padding: 10px 18px;
    //     // background: rgba(179, 179, 179, 0.623);
    //     -webkit-text-fill-color: aliceblue;
    //     width: 100%;
    //     height: 100%;
    //     border-radius: 10px;
    //     background: rgba(0, 0, 0, 0.6);
    //     text-align: center;
    // }
}