ion-toolbar {
    background-color: #11C2D4;
    color: white;
}

ion-button {
    margin-left: 130px;
}
@font-face{

    font-family: Roboto;
    src: url('../assets/fonts/roboto.woff2');
}
*{
    font-family: Roboto;
}