<ion-content>
  <div class="container">
    <div class="topHalf">
      <div class="title">
        <h1>My Clubs</h1>
      </div>
      <div class="create">
        <ion-button
          routerLink="/add-club"
          color="primary"
          shape="round"
          expand="full"
        >
          <ion-icon slot="start" name="add-circle"></ion-icon>
          Create</ion-button
        >
      </div>
    </div>
    <div class="bottomHalf">
      <div class="subtitle">
        <p>Your Clubs</p>
      </div>

      <div class="lister">
        <div class="noClubs" *ngIf="clubs.length == 0">
          <p>You Don't Have Any Clubs Yet !</p>
        </div>
        <ion-card *ngFor="let c of clubs">
          <div style="width: 100%; height: 200px;">
            <img *ngIf="c.photoURL" style="width: 100%; height: 100%; object-fit: cover;" src="{{c.photoURL}}" />
            <img *ngIf="!c.photoURL" style="width: 100%; height: 100%; object-fit: cover;" src="../../../assets/images/giphys.gif" />
          </div>
          <ion-card-header>
            <ion-card-subtitle>{{c.address}}</ion-card-subtitle>
            <ion-card-title style="text-transform: capitalize;">{{c.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content style="padding-top: 0px;">
            <ion-item lines="none">
              <ion-label>
                Open: {{c.openingHours | date:'shortTime'}} • Closes: {{c.closingHours | date:'shortTime'}}
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
