<!-- <ion-header>
  <ion-toolbar>
    <ion-title>complete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-content>



    <body>
        <div class="div2">

            <div class="div1">
                <!-- <div id="bg"> -->

                <ion-grid>
                    <ion-row color="primary" justify-content-center>

                        <ion-col align-self-center size-md="11" size-lg="11" size-xs="12">



                            <img src="\assets\images\done.gif" alt="Avatar" class="imgC">









                        </ion-col>

                    </ion-row>
                </ion-grid>
                <!-- </div> -->
                <ion-col>
                    <ion-button class="shape" shape="round" routerLink="/tabs/events" expand="full" color="light">Done</ion-button>
                </ion-col>
            </div>

        </div>

    </body>


</ion-content>